{% extends 'card.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block card_content %}
<div class="container mt-2">
    <div class="row">
        <div class="col-12 text-center">
            {% if app.user %}
                <p>Bonjour, {{ app.user.name }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Commissions de Flux Global</h2>
            <div class="row">
                {% for commission in globalCommissions %}
                    <div class="col-4 col-md-3 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ commission.name }}
                                    <i class="fas fa-bell"></i>
                                </h5>
                                <a href="{{ path('commission_chat', {'id': commission.id}) }}" class="btn btn-outline-success rounded">Messages</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <p>Aucune commission de flux global trouvée.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Commissions Temporaires</h2>
            <div class="row">
                {% for commission in temporaryCommissions %}
                    <div class="col-6 col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ commission.name }}
                                    <i class="fas fa-bell"></i>
                                </h5>
                                <a href="{{ path('commission_chat', {'id': commission.id}) }}" class="btn btn-outline-success rounded">Messages</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <p>Aucune commission temporaire trouvée.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}