{% extends 'card.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block card_content %}
    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="mb-3">
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.name, {
                'label': 'Nom',
                'attr': {'class': 'form-control', 'placeholder': 'Nom'}
                }) 
            }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                'label': 'Mot de passe',
                'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}
            }) }}
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-lg btn-primary">Créer le compte</button>        
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}