{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}
    <div class="conversations">
        {% for conversation in conversations %}
            <a href="{{ path('chat', {id: loop.index}) }}" class="conversation">
                <img src="{{ asset('build/profile.png') }}" alt="Description de l'image">
                <div class="conversation-details">
                    <div class="conversation-name">{{ conversation.name }}</div>
                    <div class="conversation-last-message">{{ conversation.lastMessage }}</div>
                </div>
                <div class="conversation-time">{{ conversation.time }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}