{% extends 'card.html.twig' %}
{% block title %}{{ commission.name }} {{ commission.description }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/chat.css') }}">
{% endblock %}

{% block card_content %}
    <h2 class="display-6">Posts :</h2>
    <div class="chat">
        <div class="messages d-flex flex-column">
            {% for post in commission.posts %}
                <div class="message {% if app.user and post.user == app.user %}message-right{% else %}message-left{% endif %}">
                    {{ post.content }}
                </div>
            {% endfor %}
        </div>
        <div class="message-input">
            <form action="{{ path('post_create') }}" method="post" class="d-flex w-100">
                <input type="hidden" name="commission_id" value="{{ commission.id }}">
                <input type="text" placeholder="Message" name="post_content" required class="message-input-field">
                <button type="submit" class="send-button">Envoyer</button>   
            </form>        
        </div>
    </div>
{% endblock %}