{% extends 'card.html.twig' %}
{% block title %}

    {{ commission.name }}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/chat.css') }}">
{% endblock %}

{% block card_content %}
    <div class="row text-center justify-content-between py-1 m-2 align-content-between flex-wrap">
        <div class="col-sm-3 d-flex justify-content-start align-items-center">{{commission.description}}</div>
        {% if commission.isClosed == true %}
            <h2 class="col-sm-5 d-flex justify-content-center align-items-center">Commission archivé</h2>
        {% endif %}
        <div class="col-sm-2 justify-content-end">
            <button type="button" class="btn btn-warning">Suivre</button>
        </div>
    </div>
    <div class="chat">
        <div class="messages d-flex flex-column">
            {% for post in commission.posts %}
                <div class="message {% if app.user and post.user == app.user %}message-right{% else %}message-left{% endif %}">
                    {{ post.content }}
                </div>
            {% endfor %}
        </div>
        <div class="message-input">
            <form action="{{ path('post_create') }}" method="post" class="d-flex w-100">
                <input type="hidden" name="commission_id" value="{{ commission.id }}">
                <input type="text" placeholder="Message" name="post_content" required class="message-input-field" {{ commission.isClosed == true ? 'disabled' : ''  }}>
                <button type="submit" class="send-button" {{ commission.isClosed == true ? 'disabled' : ''  }}>Envoyer</button>  
            </form>        
        </div>
    </div>
{% endblock %}