{% extends 'base.html.twig' %}

{% block title %}Créer une commission{% endblock %}

{% block body %}
    <h1>Créer une commission</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}