{% extends 'card.html.twig' %}

{% block title %}User Detail{% endblock %}

{% block card_content %}
    <h1>{{ user.name }}</h1>
    <p class="mb-0"><strong>Email:</strong> {{ user.email }}</p>
    <p class="mb-0"><strong>Nom:</strong> {{ user.name }}</p>

    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary mt-3">Edit</a>
    {% if user.id == currentUserId %}
        <a href="javascript:void(0);" class="btn btn-danger mt-3 disabled" tabindex="-1" aria-disabled="true">Supprimer</a>
    {% else %}
        <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger mt-3">Supprimer</a>
    {% endif %}
{% endblock %}