{% extends 'card.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block card_content %}
    {{ form_errors(userForm) }}
    {{ form_start(userForm, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="mb-3">
            {{ form_row(userForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(userForm.name, {
                'label': 'Nom',
                'attr': {'class': 'form-control', 'placeholder': 'Nom'}
                }) 
            }}
        </div>
        {% if is_granted('ROLE_ADMINISTRATEUR') %}
            <div class="mb-3">
                <label for="user_roles" class="form-label">Rôles</label>
                <div class="form-check">
                    {{ form_widget(userForm.roles.0, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="user_roles_0">Administrateur</label>
                </div>
                <div class="form-check">
                    {{ form_widget(userForm.roles.1, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="user_roles_1">Bénévole</label>
                </div>
            </div>
        
            <div class="mb-3">
                {{ form_row(userForm.plainPassword.first, {
                    'label': 'Nouveau mot de passe',
                    'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe', 'required': false}
                }) }}
            </div>
            <div class="mb-3">
                {{ form_row(userForm.plainPassword.second, {
                    'label': 'Confirmez le nouveau mot de passe',
                    'attr': {'class': 'form-control', 'placeholder': 'Confirmez le nouveau mot de passe', 'required': false}
                }) }}
            </div>
        {% endif %}
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-lg btn-primary w-100">Enregistrer</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-lg btn-secondary w-100" onclick="window.history.back()">Annuler</button>
            </div>
        </div>
    {{ form_end(userForm) }}
{% endblock %}