{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}

{% block body %}
    <h1>Create User</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.name) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}